# --------- LLM API KEYS ---------

# Assembly AI API Key

ASSEMBYAI_API_KEY=Putyourpassword

# Gemini Key for Langchain orchestration etc

GEMINI_API_KEY=Putyourpassword

# --------- Neon DB Keys ---------

NEON_HOST=ep-XXXXXXXXXXXXX.aws.neon.tech
NEON_DB=neondb
NEON_USER=neondb_owner
NEON_PASSWORD=npg_XXXXXXX


# --------- Neo4j Password ---------
NEO4J_URI = neo4j+s:XXXXXXXXXXXXXXXXXXXXXXX.neo4j.io
NEO4J_USERNAME = neo4j
NEO4J_PASSWORD = Putyourpassword

